html{
    height:100%;
}
body{
    background-color: rgb(212, 212, 212);
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    min-height: 100%;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    background:white; 
    font-size: 30px;
    
}
footer{
    position : absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height : 115px;
    margin-top : 40px;
    background-image: linear-gradient(blue,white);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    text-align: center;

}
footer ul.txt{
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    position: absolute;
    right: 50px;
    left: 10px;

}
footer ul.txt li{
    
    display: inline-block;
    width: 34%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
footer ul.txt2{
    padding: 0;
    display: inline-block;
    white-space: nowrap;
    
    position: absolute;
    top: 25px;
    right: 50px;
    left: 10px;
    

}
footer ul.txt2 li{
    
    display: inline-block;
    width: 34%;
    font-size: 0.65em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
img.logo{
    height: 40px;
    width: 60px;
    margin-left: 35px;
    margin-top: 6px;    
    vertical-align: top;
    display: inline-block;
}
header ul.nav{
    margin:3px;
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right: 250px;
    

}
header ul.nav li{
    width: 30%;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.43em;

}
header ul li a{
    text-decoration: none;
    color: black;
}
footer ul.sm{
    padding: 0;
}

footer ul.sm img{
    height: 23.5px;
    width: 80px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer p{
    position: absolute;
    bottom: 0;
    font-size: 0.5em;
    left: 42%;
   
}
.rectangle{
    position: absolute;
    left:34%;
    top: 14%;
    width:420px;
    height:400px;
    background: white;
    border-radius: 10px;
    box-shadow: black;
}
div.rectangle p.join{
    background-image: url('textw.png');
    background-size: 100% 100%;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.inputs input{
    width: 250px;
    height: 27px;
    border: 1.5px solid #504e4e;
    border-radius: 5px;
    background-color:transparent;
    color: black;
    position: relative;
    left: 19%;
}
div.submit input{
    background-color: transparent;
    border: 1.5px solid #504e4e;
    background-color: transparent;
    border-radius: 6px;
    width: 80px;
    height: 35px;
    color:black;
    position: absolute;
    left: 40%;

}
::placeholder{
    color: black;
    position: absolute;
    left: 17px;
    top: 7px;
}

div.rectangle p.new{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.6em;
    position: absolute;
    left :32%;
    bottom: 30%;
}
div.rectangle p.new a{
    text-decoration: none;
    color: black;
}

